<div class="header">

<p>
    <mat-toolbar color="primary">
      <span>Bibliotech</span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </p>
 
</div>
  <div class="form-container">
<Form class="forms">
    <label>Novo Emprestimo</label>
<mat-form-field appearance="outline">
    <mat-label>Leitor</mat-label>
    <input type="text" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Telefone</mat-label>
    <input type="tel" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Livro</mat-label>
    <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
  </mat-form-field>
  <button class="btn-submit" mat-raised-button color="primary">Emprestar </button>
</Form>
</div>
  
