<app-header></app-header>
<section class="container">
  <div class="form-container">
    <Form class="forms" [formGroup]="formEmprestimo">
      <h1>Novo Empréstimo</h1>
      <mat-form-field appearance="outline">
        <mat-label>Leitor</mat-label>
        <input type="text" matInput formControlName="leitor">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Telefone </mat-label>
        <input required type="text" matInput placeholder="telefone" name="telefone" formControlName="telefone"
        mask="(00)00000-0000">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Livro</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option  *ngFor="let livro of filteredOptions | async" [value]="livro" (onSelectionChange)="salvarLivro(livro)">{{livro.titulo}}</mat-option>
        </mat-autocomplete>   
      </mat-form-field>
      <div class="botoes">
        <button class="btn-form" mat-raised-button color="primary" (click)="criarEmprestimo()">Emprestar </button>
        <a class="btn-form" mat-raised-button routerLink="/dashboard">Cancelar</a>
      </div>
    </Form>
  </div>
</section>
