<app-header></app-header>
<section class="container">
  <div class="form-container">
    <Form class="forms" [formGroup]="formEmprestimo">
      <h1>Novo Empréstimo</h1>
      <mat-form-field appearance="outline">
        <mat-label>Leitor</mat-label>
        <input type="text" matInput formControlName="leitor">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input type="tel" matInput formControlName="telefone">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="pendente">PENDENTE</mat-option>
          <mat-option value="devolvido">DEVOLVIDO</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Livro</mat-label>
        <mat-select formControlName="livro">
          <mat-option [value]="livro" *ngFor="let livro of listaLivros">{{livro.titulo}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="botoes">
        <button class="btn-form" mat-raised-button color="primary" (click)="criarEmprestimo()">Emprestar </button>
        <a class="btn-form" mat-raised-button routerLink="/dashboard">Cancelar</a>
      </div>
    </Form>
  </div>
</section>
