.home-container {
  height: 100vh;
  background-color: #e6e6e6;
  background-image: url("/assets/images/livro-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  align-items: center;
}

.home-container h1 {
  line-height: 70px;
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
}

.home-container div {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0 50px;
  gap: 10px;
}

.home-container button {
  width: 50%;
  height: 60px;
  font-size: 23px;
  color: rgb(244, 244, 244);
}
