mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.header {
  display: flex;
  align-items: center;
}

.header a {
   display: flex;
   align-items: center;
   text-decoration: none;
}

.header .title-bibliotech {
  padding-right: 10px;
}

.header .title-bibliotech i {
  margin-left: 10px;
}

#logout {
  display: flex;
  align-items: center;
}

#logout i {
  margin-left: 10px;
}
