<mat-toolbar class="header mat-elevation-z4" color="primary">
  <span>
    <img src="/assets/icons/livros.png" width="40px">
    <a routerLink="/home"  class="title">
      BIBLIOTECH
    </a>
  </span>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="button">
    <i class="material-icons" >menu</i>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/home">Home</a>
    <a mat-menu-item routerLink="/dashboard">Empréstimos</a>
    <a mat-menu-item routerLink="/livros">Livros</a>
    <a mat-menu-item id="logout" (click)="logout()">Sair<i class="material-icons">logout</i></a>
  </mat-menu>
</mat-toolbar>