<app-header></app-header>
<section class="container">
    <div class="form-container">
        <Form class="forms" [formGroup]="formLivro">
            <h1>Adicionar Livro</h1>
            <mat-form-field appearance="outline">
                <mat-label>Titulo</mat-label>
                <input type="text" matInput formControlName="titulo">
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Autor</mat-label>
                <input type="text" matInput formControlName="autor">
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Categoria</mat-label>
                <input type="text" matInput formControlName="categoria">
            </mat-form-field>
    
            <div  class="file">
                <label for="capa">Selecione uma capa</label> 
                <input type="file" class="upload-capa" (change)="uploadFile($event)">
                <mat-progress-bar mode="indeterminate" class="barra-progresso" *ngIf="isLoading"></mat-progress-bar>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>ISBN</mat-label>
                <input type="text" matInput formControlName="isbn" mask="000-0-00-000000-0">
            </mat-form-field>
            <div class="botoes">
                <button class="btn-form" mat-raised-button color="primary" (click)="criarNovoLivro()">Adicionar </button>
                <a class="btn-form" mat-raised-button routerLink="/livros">Cancelar</a>
              </div>
        </Form>
    </div>
</section>
