<app-header></app-header>
<section class="container">
  <div class="form-container">
    <form class="forms" #formEdit="ngForm">
      <h1>Editar Empréstimo</h1>
      
    <mat-form-field appearance="outline">
      <mat-label>Leitor</mat-label>
      <input type="text" name="leitor" matInput [(ngModel)]="emprestimo.leitor">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput name="email" [(ngModel)]="emprestimo.email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefone</mat-label>
      <input type="tel" matInput name="telefone" [(ngModel)]="emprestimo.telefone">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Status atual: {{emprestimo.status}}</mat-label>
      <mat-select >
          <mat-option value="pendente">PENDENTE</mat-option>
          <mat-option value="devolvido" (onSelectionChange)= "mudarStatus()">DEVOLVIDO</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Livro atual : {{emprestimo.livro.titulo}}</mat-label>
      <mat-select >
          <mat-option>{{emprestimo.livro.titulo}}</mat-option>  
        </mat-select>
    </mat-form-field>
    <p>Obs: Caso queira alterar o livro, por favor exclua o registro de empréstimo e faça novamente.</p>
    <div class="botoes">
      <button class="btn-form" mat-raised-button color="primary" (click)="editarEmprestimo(formEdit)">Editar</button>
      <a class="btn-form" mat-raised-button routerLink="/dashboard">Cancelar</a>
    </div>
  </form>
  </div>

</section>
  