.container {
    margin: 0;
}

table {
    width: 100%;
    font-weight: 600;
    opacity: 0.6;
}



.container-dash {
    width: clamp(300px, 80%, 1400px);
    margin: 0 auto;
    padding-top: 80px;
    
    
}

.container h1{
    font-size: 30px;
    font-weight: 600;
    color:#4c9fcf;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    
}

.container h3{
    font-size: 20px;
    color:#838383;
    margin-bottom: 30px;
}

#img { 
    background-image: url("/assets/images/dashboard-fundo1.png"); 
    background-size: 65%;
    background-repeat:no-repeat;
    background-position: bottom;  
}

.table-container {
    height: 70vh;
    overflow: auto;  
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.btn-new {
    position: fixed;
    right: 30px;
    bottom: 20px;
    color: rgb(244, 244, 244);
}

img {
    cursor: pointer;
}



