.container-livros {
    width: clamp(300px, 80%, 1400px);
    margin: 0 auto;
    padding-top: 40px;
}

table {
    width: 100%;
}

#img{
    background-image: url("/assets/images/menina-livros.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.table-container {
    height: 70vh;
    overflow: auto;  
}

.container h1{
    font-size: 30px;
    font-weight: 600;
    color:#4c9fcf;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
}

.container h3{
    font-size: 20px;
    color:#838383;
    margin-bottom: 30px;
}

.btn-new {
    position: fixed;
    right: 30px;
    bottom: 5px;
    color: rgb(244, 244, 244);
}
